* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
    display: grid;
    grid-template-columns: 240px 1fr;
    min-height: 100vh;
}


.sidebar {
    background: #000000;
    padding: 24px;
    color: white;
}

.content {
    background: #f8fafc;
    color: #000;
    padding: 32px;
}