*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    margin: 30px;
    background-color: rgb(252, 244, 235);
}

.image-box {
    width: 100%;
    height: 250px;
    background: #dcdcdc;
    border-radius: 6px;
    display: grid;
    place-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

header {
    max-width: 1200px;
    margin: 60px auto;
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    gap: 60px;
    margin: 0 auto;
}

.featured {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

@media screen and (max-width: 980px) {
    div {
        grid-column: span 3;
        display: grid;
        gap: 60px;
        align-items: center;
    }
}