*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    margin: 30px;
}

.grid-container {
    background: #eee;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-container > div {
    background-color: #857b7b;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}

.grid-container > div:nth-child(1) {
    grid-column: 1 / span 2;
}

.grid-container > div:nth-child(2) {
    grid-column: span 3;
}

.grid-container > div:nth-child(3) {
    grid-column: span 2;
}